#Header {
    text-align: center;
    font-family: EnglishTowne-Normal;
    font-size: 80px;
    color: black;
    border: solid 3px;
}

#biden {
    float: left;
    height: 65%;
    width: 65%;
}

#biden-txt {
    text-align: center;
    font-size: x-large;
    color: black;
    margin-top: 4px;
}

#biden-head {
    text-align: center;
    color: black;
    margin-bottom: 0;
    font-size: xx-large;
}

#democratic-background {
    background-image: url(../img/democratic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38%;
}

#republican-background {
    background-image: url(../img/republicanlogo3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38%;
}

#thumbsup {
    float: right;
    height: 65%;;
    width: 65%;
}

#trump-txt {
    text-align: center;
    font-size: x-large;
    color: black;
    margin-top: 0px;
}

#trump-head {
    text-align: center;
}

#articlesDem {
    font-size: x-large;
}

.info {
    border-style: solid;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.knowCandidate {
    text-align: center;
    color: white;
}

#bodyDem {
    background-color: #0000ff;
}

.twitter-timeline {
    margin-left: 20px;
    margin-right: 20px;
}

.slides {
    border-style: solid;
    border-color: white;
}

#bodyRep {
    background-color: #ff0803;

    color: black;
    margin-bottom: 0;
    font-size: xx-large;
}

#learnMoreDem {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: auto;
}

#learnMoreRep {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
}