#Header {
    text-align: center;
    font-family: EnglishTowne-Normal;
    font-size: xx-large;
    color: black;
}

#biden {
    float: left;
    height: 80%;
}

#biden-txt {
    text-align: center;
    font-size: x-large;
    float: right;
}

#biden-head {
    text-align: center;
}

#democratic-background {
    background-image: url(../img/democratic.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#republican-background {
    background-image: url(../img/republicanlogo3.png);
    background-position: center;
    background-size: 1400;
    background-repeat: no-repeat;
}

#thumbsup {
    float: right;
    height: 50%;
}

#trump-txt {
    text-align: center;
    font-size: x-large;
}

#trump-head {
    text-align: center;
}

#articlesDem {
    font-size: x-large;
}

.info {
    border-style: solid;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.knowCandidate {
    text-align: center;
    color: white;
}

#bodyDem {
    background-color: #0000ff;
}

.twitter-timeline {
    margin-left: 20px;
}

.slides {
    border-style: solid;
    border-color: white;
}

#bodyRep {
    background-color: #ff0803;
}